@use  'variables' as *;
@use  'mixins' as *;

@use  'base/base';
@use  'components/header';
@use  'components/hero';
@use  'components/promotions';
@use  'components/show-cat';
// Пример использования миксинов (удалите при необходимости)

.dark-block{
    *{
        color: #fff;
        text-decoration: none;
    }
}

.container {
    margin: auto;
    padding: 0 20px;
    @include desktop { max-width: 1240px; }
    @include tablet { padding: 0 24px; }
    @include mobile { padding: 0 16px; }
}


.btn{
    display: inline-flex;
    padding: 6px 12px;
    border-radius: 12px;
    color:#ffffff;

    &-transparent{
        border:1px solid #ffffff;
        background: transparent;
    }

    &-matte{
        background: transparent;
        position: relative;
        overflow: hidden;
        &::after{
            content: "";
                position: absolute;
                inset: 0;
                background: #ffffff;
                filter: blur(2px) saturate(120%);
                transform: scale(1.1);
                z-index: 0;
                pointer-events: none;
                opacity: 0.5;
        }
    }
}



section{
    padding: 32px 0;
}