@use  'variables' as *;
@use  'mixins' as *;

@use  'base/base';
@use  'components/header';
@use  'components/footer';
@use  'components/hero';
@use  'components/promotions';
@use  'components/show-cat';
@use  'components/products-slider';
@use  'components/product-card';
@use  'components/category-preview';
@use  'components/sliders';
@use  'components/why-choose-us';
@use  'components/steps';
@use  'components/partners';
@use  'components/decorations';
@use  'components/breadcrums';
@use  'components/page-title';
@use  'components/products-category';
@use  'components/product';
@use  'components/modal';
@use  'components/forms';
@use  'components/contacts';
// Пример использования миксинов

.dark-block{
    *{
        color: #fff;
        text-decoration: none;
    }
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 20px;
    @include desktop { max-width: 1240px; }
    @include tablet { padding: 0 24px; }
    @include mobile { padding: 0 16px; }
}


main{
    display: flex;
    flex-direction: column;
}

.btn{
    display: inline-flex;
    padding: 6px 12px;
    border-radius: 12px;
    color:#ffffff;

    &-transparent{
        border:1px solid #ffffff;
        background: transparent;
    }

    &-matte{
        background: transparent;
        position: relative;
        overflow: hidden;
        &::after{
            content: "";
                position: absolute;
                inset: 0;
                background: #ffffff;
                filter: blur(2px) saturate(120%);
                transform: scale(1.1);
                z-index: 0;
                pointer-events: none;
                opacity: 0.5;
        }
    }
}


.title-block{
    position: relative;
    width: fit-content;

    h2{
        &::after{
            content: "";
            position: absolute;
            bottom: 0px;
            right: 0;
            left: 0;
            margin: auto;
            height: 16px;
            width: 30px;
            background: $color-primary;    
            clip-path: polygon(50% 0, 100% 100%, 0 100%);
        }
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0px;
        right: 0;
        height: 7px;
        width: 9999px;
        background: $color-primary;    
    }
}


.desktop-only{
    @include mobile {
        display: none!important;
    }
}

.mobile-only{
    display: none!important;
    @include mobile {
        display: flex!important;
    }
}


.text-with-image{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 3fr 2fr; 
    gap: 60px;
    grid-template-areas: 
    "text image"; 

    @include mobile{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &.reverse{
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 
        "image text"; 
    }

    .text { grid-area: text; }
    img { grid-area: image; }

    img{
        aspect-ratio: 1;
        border-radius: 20px;
    }
}