@use '../variables' as *;
@use '../mixins' as *;

.blog-content {
    width: 100%;

    .image-text {
        img {
            float: left;           // картинка слева         // фиксированная ширина
            max-width: 40%;
            margin-right: 20px;    // отступ справа от текста
            margin-bottom: 15px;   // отступ снизу
            border-radius: 8px;
            object-fit: cover;
        }

        .content, p {
            display: block;
            text-align: justify;
            line-height: 1.6;
        }

        // очищаем float после блока
        &:after {
            content: "";
            display: table;
            clear: both;
        }

        // адаптация под мобильные устройства
        @include mobile {
            img {
                float: none;
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}





.post-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.current-category-tags{
    padding: 20px 0;
    border-top: 1px solid $color-secondary;
    border-bottom: 1px solid $color-secondary;

    h4{
        color: $color-secondary;
        font-size: 20px;
        font-weight: 400;
    }

}


.post-navigation{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    
    .post-navigation{
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 380px;

        img{
            aspect-ratio: 1;
            border-radius: 20px;
            height: 120px;
            width: 120px;
        }

        .icon{
            display: flex;
        }

        .content{

            display: flex;
            flex-direction: column;
            gap: 6px;
            align-items: center;

            h4{
                margin: 0;
            }
            p{
                margin: 0;
            }
        }

    }

    &.prev-post{
         flex-direction: row-reverse;



        @include mobile{
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 12px;
            grid-template-areas:
            "arrow image"
            "text text";
            justify-items: start; 
        }
        .icon{
            transform: rotate(180deg);
        }

        .icon.arrow { grid-area: arrow; }
        .attachment-thumbnail { grid-area: image; }
        .content { grid-area: text; }
    }
    &.next-post{
        flex-direction: row;


         @include mobile{
            display: grid;
            grid-template-columns: 1fr min-content;
            grid-template-rows: 1fr 1fr;
            gap: 12px;
            grid-template-areas:
            "text text"
            "image arrow";
            justify-items: end;

        }

        h4,span{
            text-align: right;
        }

        .icon.arrow { grid-area: arrow; }
        .attachment-thumbnail { grid-area: image; }
        .content { grid-area: text; }
    }

}

