@use '../variables' as *;
@use '../mixins' as *;



.category-preview{
    margin-top: 24px;
    position: relative;
    display: flex;
    margin-bottom: 32px;
    &:hover{
        img{
            transform: scale(1.2);
        }
    }
    .category-image{
        overflow: hidden;
        border-radius: 10px;

        height: 100%;
        width: 100%;
        aspect-ratio: 8 / 5;
        background: #D9D9D9;

        img{
            transition: transform 0.4s ease;
        }
    }

    .category-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 12px;
        border: 1px solid #D9D9D9;
        position: absolute;
        transform: translate(0, -50%);
        top: 100%;
        left:0;
        right: 0;
        margin: auto;
        background: #ffffff;
        width: 90%;
        border-radius: 10px;
            transition: 0.4s background ease,0.4s border-color ease;
            cursor: pointer;

        .name{
            font-size: 22px;
            font-weight: 700;
            transition: 0.4s color ease;

        }
        .category-arrow{
            background: #CD2122;
            border-radius: 100%;
            aspect-ratio: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            transition: 0.4s background ease,transform 0.4s ease;
        }
    }


    &:hover{
        .category-info{
            background: $color-primary;
            border-color: $color-primary;
            .name{
                color: #ffffff;
            }

            .category-arrow{
                background: $color-secondary;
                transform: rotate(90deg);
            }
        }
    }
}