@use '../variables' as *;
@use '../mixins' as *;



.text-form-section{
   background: $color-secondary;
}


.text-form{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 3fr 2fr; 
    gap: 20px; 
}



.text-area{
    padding: 20px 0;
}

.form-area{
    padding: 20px 0;
    background: $color-primary;
    display: flex;
    justify-content: center;

    form{
        max-width: 380px;
        
    }
}