@use '../variables' as *;
@use '../mixins' as *;



.text-form-section{
    background: $color-secondary;
   .container{
    @include mobile{
        padding: 0;
    }
   }
}


.text-form{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 3fr 2fr; 
    gap: 60px; 
    @include mobile{
        grid-template-columns: 1fr;
    }
}



.text-area{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
    @include mobile{
        padding: 20px;
    }
}

.form-area{
    padding: 20px 0 60px;
    background: $color-primary;
    display: flex;
    justify-content: center;

    .custom-order-form{
        h3{
            font-size: 34px;
        }
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input,textarea{
            background: $color-secondary;
            color: #ffffff;
            font-size: 24px;

            &::placeholder {
                font-size: 20px;
                color: #ffffff80;
            }
        }

        .btn{   
                font-size: 24px;
                background: #fff;
                color: #000;
                width: fit-content;
                margin: auto;
                padding: 12px 32px;
        }
    }
}


.form-section{

    .form-content{

        h3{
            text-align: center;
            color: #fff;
            font-size: 34px;
            font-weight: 700;
        }

        .custom-order-form{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}