@use '../variables' as *;
@use '../mixins' as *;


.hero{


    .slider-area{
        position: relative;
    }

    .container{
        // height: 80%;
    }
    .hero-slide{
        aspect-ratio: 21/9;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @include mobile{
            aspect-ratio: 9/ 16;
        }

        .hero-background{
            position: absolute;
            z-index: -10;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .hero-title{
            color:#ffffff;
            text-align: center;
            font-size: 116px;
            font-weight: 500;
            position: relative;

            @include mobile{
                font-size: 50px;
            }
            &::after{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 33%;
                min-width: 200px;
                max-width: 350px;
                height: 6px;
                border-radius: 6px;
                background: $color-secondary;

            }
        }
        .hero-text{
            color:#ffffff;
            text-align: center;
            font-size: 44px;
            font-weight: 300;

            @include mobile{
                font-size: 30px;
            }
        }

        .hero-content{

            display: flex;
            flex-direction: column;
            align-items: center;
            gap:64px;
            margin-bottom: 220px;

            .hero-info{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .btn{
        text-align: center;
        padding: 6px 24px;
        border-radius: 10px;
        border: 1px solid #FFF;
        backdrop-filter: blur(3px);
        font-size: 24px;
        &::after{
            background: rgba(217, 217, 217, 0.10);
        }

        &:hover{
            background: rgba(205, 33, 34, 0.30);
        }
    }


    .heroSwiper{
        position: relative;
    }

    .nested-slider{
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
        display: flex;
        max-width: 650px;

        .nested-slide{
            display: flex;
            margin-top: 20px;
            position: relative;
            transform: scale(0.8);

            transition: transform 0.8s ease;
            &::after {
                opacity: 0;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: -13px;
                margin: auto;
                height: 13px;
                width: 30px;
                background: #ffffff;
                clip-path: polygon(50% 0, 100% 100%, 0 100%);
                transition: opacity 0.8s ease;
            }


            .nested-content{
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                aspect-ratio: 1;
                border-radius: 16px;
                overflow: hidden;
                border: 1px solid transparent;
                padding: 6px;
                transition: border-color 0.8s ease;

                .nested-image{
                    border-radius: 10px;
                    height: 200px;
                    width: 200px;
                    object-fit: cover;
                    aspect-ratio: 1;
                    max-width: none;
                }

                .nested-bottom{
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: rgba(217, 217, 217, 0.10);
                    backdrop-filter: blur(3px);
                    border-top: 1px solid #ffffff;
                    text-align: center;
                    padding: 6px;
                    transition: opacity 0.8s ease;
                    .nested-name{
                        text-align: center;
                        color: #ffffff;
                        font-size: 18px;
                    }
                }
            }
        }

        .swiper-slide-active{

            .nested-slide{
                transform: scale(1);
                &::after {
                    opacity: 1;
                }

                .nested-content{ 
                    border-color: #fff;

                    .nested-bottom{
                        opacity: 1;
                    }
                }
        }
        }

        .swiper-slide{
            transition: transform 4s ease;
        }
    }

}