@use '../variables' as *;
@use '../mixins' as *;


.products-slider{
    // background: $color-secondary;
    &.dark{
        background: $color-secondary;
    }

    @include mobile{
        // background: $color-secondary;
    }
    .products-slider-content{
        display: flex;
        flex-direction: column;
        gap: 20px;


        .products-body{
            position: relative;
        }
    }
    .products-head{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        justify-items: center;
        align-items: end;

        @include mobile{
            flex-direction: column;
            margin: auto;
        }


        .category-tabs{
            display: flex;
            gap: 20px;

            li{
                cursor: pointer;
                font-size: 20px;
                font-weight: 600;
            }
        }


        .products-link{
            margin-left: auto;
        }

        .all-products{
            font-size: 20px;
            font-weight: 600;

            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 12px;


            @include mobile{
                margin: auto;
            }


            .category-arrow{
                background: $color-primary;
                border-radius: 100%;
                aspect-ratio: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                transition: 0.4s opacity ease,transform 0.4s ease;
                opacity: 0.6;
                transform: rotate(90deg);
            }

            &:hover{
                .category-arrow{
                    opacity: 1;
                    transform: rotate(0);
                }
            }
        }
    }
}

.products-tab-content { display: none; }
.products-tab-content.active { display: block; }
.category-tabs li.active { color: #FFF;text-decoration: underline; }