@use '../variables' as *;
@use '../mixins' as *;


.grid-show{
    margin-bottom: 60px;
    .products-area{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
        @include mobile{
            flex-direction: column;
        }
        
        .category-list-block{
            width: 100%;
            max-width: 300px;
            border: 1px solid rgba(3, 40, 40, 0.43);
            border-radius: 20px;
            overflow: hidden;
            padding: 10px 12px 32px;
            min-width: 280px;
            height: fit-content;
            position: sticky;
            top: 140px;

            @include mobile{
                position: static;
            }
            .category-block-title{
                color: $color-secondary;
                font-size: 24px;
                font-weight: 600;
                position: relative;
                text-align: center;
                width: fit-content;
                margin: auto;
                &::after{
                    content: "";
                    background: #4C7378;
                    height: 3px;
                    width: 500%;
                    position: absolute;
                    right: 0;
                    bottom: -4px;
                }
            }

            .category-list{
                margin-top: 24px;
                list-style: none;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 24px;
                
                &::before{
                    content: '';
                    position: absolute;
                    left: 8px;
                    height: 100%;
                    width: 1px;
                    background: #ccc;
                }   


                li{
                    &.active{
                        > a{
                            color: $color-secondary;
                        }
                    }
                }

                > li{
                    position: relative;
                    line-height: 1;
                    padding-left: 32px;
                    font-weight: 600;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0px;
                        height: 13px;
                        width: 13px;
                        top: 0;
                        margin: auto;
                        aspect-ratio: 1;
                        background: #ffffff;
                        border: 2px solid $color-secondary;
                        border-radius: 100%;
                    }


                    &:hover,&.active{

                        &::before{
                            background: $color-secondary;
                        }

                        > a{
                            color: $color-secondary;
                        }
                    }


                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        margin-top: 16px;

                        li{
                            position: relative;
                            margin-left: 16px;

                            &::before{
                                content: "";
                                position: absolute;
                                left: -24px;
                                top: 8px;
                                width: 17px;
                                height: 1px;
                                background: #ccc;
                            }

                        }
                    }
                }
            }

        }

        .category-elements-block{
            width: 100%;
            .grid-products-elements{
                @include desktop{
                     @include grid-three-col
                }
            }
        }


    }

}



.recent-news-cards{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .news-card-recent{

        display: flex;
        flex-direction: column;
        .product-name,.product-description{
            margin-bottom: 0;
        }

        .product-name{
            font-size: 18px;
        }

        .product-image{
            img{
                aspect-ratio: 16 / 9;
                border-radius: 20px;
                object-fit: cover;
            }
        }
    }
}