@use '../variables' as *;
@use '../mixins' as *;


.show-cat{
    .show-cat-content{

        display: flex;
        flex-direction: column;
        gap: 60px;

        .categories{
            // @include grid-three-col();
            // @include mobile{
            //     grid-template-columns: 1fr; 
            // }
            .benefit{
                display: grid; 
                grid-template-columns: 156px auto; 
                grid-template-rows: auto auto; 
                gap: 12px; 
                grid-template-areas: 
                    "gear-box title"
                    "gear-box text"
                    "list list"
                    "preview preview"; 
                margin-bottom: 32px;
            }

            .gear-box { grid-area: gear-box; }
            .benefit-title { grid-area: title; }
            .benefit-text { grid-area: text; }
            .benefit-list { grid-area: list; }
            .category-preview { grid-area: preview; }


            .gear-box{
                border: 6px solid $color-secondary;
                border-radius: 100%;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.4s background ease;
                svg{
                    *{
                        fill: $color-secondary;
                        transition:  0.4s fill ease;
                    }
                }

                &:hover{
                    background: $color-secondary;
                    svg{
                    *{
                        fill: #ffffff;
                    }
                }
                }
            }

            .benefit-title {
                font-size: 34px;
            }
            
            .benefit-text { 
                font-size: 14px;
            }



            
        }
    }
}