@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 600;
}

h2 {
  font-size: 34px;
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #032828;
  padding-top: 10px;
}
header .top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-part .support-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
header .bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom-part .main-menu {
  display: flex;
  gap: 4px;
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
}
header .bottom-part .main-menu li a {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 4px 10px;
  border-radius: 10px 10px 0 0;
}
header .bottom-part .main-menu li a:hover {
  background: #4C7378;
}

footer {
  background: #032828;
}
footer * {
  color: #ffffff;
}
footer .footer-content {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
footer .footer-content .footer-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-content .footer-col h3 {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  line-height: 3em;
  padding-left: 32px;
}
footer .footer-content .footer-col h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 4px;
  height: 100%;
  background: #4C7378;
  border-radius: 4px;
}
footer .footer-content .footer-col h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 13px;
  margin: auto;
  width: 8px;
  height: 13px;
  background: #4C7378;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
footer .footer-content .footer-col .social-links {
  display: flex;
  gap: 10px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: inside;
}
footer ul li {
  font-size: 14px;
}
footer ul li a {
  font-size: 14px;
}
footer .footer-line {
  background: #4C7378;
  padding: 20px 0;
}
footer .footer-line .footer-line-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
footer .footer-line .footer-line-content .part {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
footer .footer-line .footer-line-content ul {
  flex-direction: row;
}

.hero .hero-slide {
  aspect-ratio: 21/9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-slide .hero-background {
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.hero .hero-slide .hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 116px;
  font-weight: 500;
  position: relative;
}
.hero .hero-slide .hero-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 33%;
  min-width: 200px;
  max-width: 350px;
  height: 6px;
  border-radius: 6px;
  background: #4C7378;
}
.hero .hero-slide .hero-text {
  color: #ffffff;
  text-align: center;
  font-size: 44px;
  font-weight: 300;
}
.hero .hero-slide .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.hero .hero-slide .hero-content .hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-slide .hero-content .nested-slider {
  display: flex;
  max-width: 650px;
}
.hero .hero-slide .hero-content .nested-slider .nested-slide {
  margin-top: 20px;
  position: relative;
  transform: scale(0.8);
  transition: transform 0.8s ease;
}
.hero .hero-slide .hero-content .nested-slider .nested-slide::after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -13px;
  margin: auto;
  height: 13px;
  width: 30px;
  background: #ffffff;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transition: opacity 0.8s ease;
}
.hero .hero-slide .hero-content .nested-slider .nested-slide .nested-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid transparent;
  padding: 12px;
  transition: border-color 0.8s ease;
}
.hero .hero-slide .hero-content .nested-slider .nested-slide .nested-content .nested-image {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}
.hero .hero-slide .hero-content .nested-slider .nested-slide .nested-content .nested-bottom {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(3px);
  border-top: 1px solid #ffffff;
  text-align: center;
  padding: 6px;
  transition: opacity 0.8s ease;
}
.hero .hero-slide .hero-content .nested-slider .nested-slide .nested-content .nested-bottom .nested-name {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.hero .hero-slide .hero-content .nested-slider .swiper-slide-active .nested-slide {
  transform: scale(1);
}
.hero .hero-slide .hero-content .nested-slider .swiper-slide-active .nested-slide::after {
  opacity: 1;
}
.hero .hero-slide .hero-content .nested-slider .swiper-slide-active .nested-slide .nested-content {
  border-color: #fff;
}
.hero .hero-slide .hero-content .nested-slider .swiper-slide-active .nested-slide .nested-content .nested-bottom {
  opacity: 1;
}
.hero .hero-slide .hero-content .nested-slider .swiper-slide {
  transition: transform 4s ease;
}
.hero .btn {
  text-align: center;
  padding: 6px 24px;
  border-radius: 10px;
  border: 1px solid #FFF;
  backdrop-filter: blur(3px);
  font-size: 24px;
}
.hero .btn::after {
  background: rgba(217, 217, 217, 0.1);
}

.promotions-section {
  position: relative;
  margin-top: -32px;
  z-index: 10;
}
.promotions-section .promotions-side .promotions-content {
  height: 100%;
  background: #032828;
  display: grid;
  grid-template-columns: 5fr 2fr;
  justify-items: center;
  align-items: center;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.promotions-section .promotions-side .promotions-content .promotions-info {
  padding: 20px 24px;
}
.promotions-section .promotions-side .promotions-content .promotions-info .promotions-title {
  color: #ffffff;
  font-size: 28px;
}
.promotions-section .promotions-side .promotions-content .promotions-info .promotions-text {
  color: #ffffff;
  font-size: 14px;
}
.promotions-section .promotions-side .promotions-content .promotions-btn {
  clip-path: polygon(8% 0%, 100% 0, 100% 100%, 0% 100%);
  background: #4C7378;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.promotions-section .promotions-side .promotions-content .promotions-btn .leaflet {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}
.promotions-section .promotions-side .promotions-content .promotions-btn .btn {
  margin-left: 24px;
  text-align: center;
  padding: 6px 24px;
  border-radius: 10px;
  border: 1px solid #FFF;
  backdrop-filter: blur(3px);
  font-size: 24px;
}
.promotions-section .promotions-side .promotions-content .promotions-btn .btn::after {
  background: rgba(217, 217, 217, 0.1);
}

.show-cat .show-cat-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.show-cat .show-cat-content .show-cat-titles {
  position: relative;
  padding-bottom: 24px;
}
.show-cat .show-cat-content .show-cat-titles h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
.show-cat .show-cat-content .show-cat-titles P {
  text-align: center;
  font-size: 14px;
}
.show-cat .show-cat-content .show-cat-titles::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 33%;
  min-width: 200px;
  max-width: 350px;
  height: 6px;
  border-radius: 6px;
  background: #4C7378;
}
.show-cat .show-cat-content .benefits {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 767px) {
  .show-cat .show-cat-content .benefits {
    grid-template-columns: 1fr;
  }
}
.show-cat .show-cat-content .benefits .benefit {
  display: grid;
  grid-template-columns: 156px auto;
  grid-template-rows: auto auto;
  gap: 12px;
  grid-template-areas: "gear-box title" "gear-box text" "list list" "preview preview";
}
.show-cat .show-cat-content .benefits .gear-box {
  grid-area: gear-box;
}
.show-cat .show-cat-content .benefits .benefit-title {
  grid-area: title;
}
.show-cat .show-cat-content .benefits .benefit-text {
  grid-area: text;
}
.show-cat .show-cat-content .benefits .benefit-list {
  grid-area: list;
}
.show-cat .show-cat-content .benefits .category-preview {
  grid-area: preview;
}
.show-cat .show-cat-content .benefits .gear-box {
  border: 6px solid #4C7378;
  border-radius: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-cat .show-cat-content .benefits .gear-box svg * {
  fill: #4C7378;
}
.show-cat .show-cat-content .benefits .benefit-title {
  font-size: 34px;
}
.show-cat .show-cat-content .benefits .benefit-text {
  font-size: 14px;
}
.show-cat .show-cat-content .benefits .benefit-list {
  margin-top: 24px;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 71px;
}
.show-cat .show-cat-content .benefits .benefit-list::before {
  content: "";
  position: absolute;
  left: 8px;
  height: 100%;
  width: 1px;
  background: #ccc;
}
.show-cat .show-cat-content .benefits .benefit-list li {
  position: relative;
  line-height: 1;
  margin-left: 24px;
  font-weight: 600;
}
.show-cat .show-cat-content .benefits .benefit-list li::before {
  content: "";
  position: absolute;
  left: -24px;
  height: 13px;
  width: 13px;
  bottom: 0;
  top: 0;
  margin: auto;
  aspect-ratio: 1;
  background: #ffffff;
  border: 2px solid #4C7378;
  border-radius: 100%;
}
.show-cat .show-cat-content .benefits .category-preview {
  margin-top: 24px;
  position: relative;
  display: flex;
}
.show-cat .show-cat-content .benefits .category-preview .category-image {
  border-radius: 10px;
}
.show-cat .show-cat-content .benefits .category-preview .category-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border: 1px solid #D9D9D9;
  position: absolute;
  transform: translate(0, -50%);
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
  width: 90%;
  border-radius: 10px;
  transition: 0.4s background ease, 0.4s border-color ease;
  cursor: pointer;
}
.show-cat .show-cat-content .benefits .category-preview .category-info .name {
  font-size: 22px;
  font-weight: 700;
  transition: 0.4s color ease;
}
.show-cat .show-cat-content .benefits .category-preview .category-info .category-arrow {
  background: #CD2122;
  border-radius: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  transition: 0.4s background ease;
}
.show-cat .show-cat-content .benefits .category-preview:hover .category-info {
  background: #032828;
  border-color: #032828;
}
.show-cat .show-cat-content .benefits .category-preview:hover .category-info .name {
  color: #ffffff;
}
.show-cat .show-cat-content .benefits .category-preview:hover .category-info .category-arrow {
  background: #4C7378;
}

.products-slider {
  background: #4C7378;
}
.products-slider .products-slider-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.products-slider .products-slider-content .products-body {
  position: relative;
}
.products-slider .products-head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: end;
}
.products-slider .products-head .category-tabs {
  display: flex;
  gap: 20px;
}
.products-slider .products-head .category-tabs li {
  cursor: pointer;
}
.products-slider .products-head .products-link {
  margin-left: auto;
}

.products-tab-content {
  display: none;
}

.products-tab-content.active {
  display: block;
}

.category-tabs li.active {
  color: #FFF;
  text-decoration: underline;
}

.slider {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.swiper-slide.flex-slide {
  display: flex; /* растягиваем внутреннюю карточку */
  height: auto; /* пусть высота адаптируется */
  margin-bottom: 32px;
}

.product-card {
  display: flex;
  flex-direction: column; /* элементы внутри идут сверху вниз */
  justify-content: space-between;
  height: 100%; /* карточка тянется на всю высоту */
  background: #ffffff;
  border-radius: 10px;
  padding: 4px 4px 0;
}
.product-card .product-image {
  border-radius: 6px;
  overflow: hidden;
}
.product-card .product-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
  padding-bottom: 30px;
}
.product-card .product-content .product-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
.product-card .product-content .product-info {
  display: flex;
  gap: 10px;
}
.product-card .product-content .product-info .product-description {
  width: 50%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.product-card .product-content .product-info::before {
  content: "";
  display: flex;
  height: auto;
  width: 3px;
  background: #4C7378;
  border-radius: 3px;
}
.product-card .product-content .product-price {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.product-card .product-content .product-price .old-price {
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
  color: #D9D9D9;
}
.product-card .product-content .product-price .current-price {
  font-size: 18px;
  font-weight: 700;
  color: #032828;
}
.product-card .product-content .product-more {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.product-card .product-content .add-order {
  transform: translate(0, 50%);
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #032828;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.product-card .product-content .add-order .order-text {
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card .product-content .add-order .icon {
  border-radius: 10px;
  background: #2FBF44;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 16px;
  width: 16px;
  background: #ffffff;
  border-radius: 16px;
  transition: width 0.6s ease, background 0.6s ease;
  opacity: 1;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 48px;
  background: #032828;
}

.swiper-button-prev {
  transform: rotate(180deg);
}

#hero .swiper-button-prev svg, #hero .swiper-button-next svg {
  transform: scale(2);
}

.swiper-button-prev svg, .swiper-button-next svg {
  height: auto !important;
  width: auto !important;
}

.partners-slider {
  position: relative;
}

.why-choose-us {
  background: #032828;
  padding: 40px 0;
}
.why-choose-us .why-us-content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 2fr 3fr;
  gap: 60px;
}
.why-choose-us .why-us-content .info h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}
.why-choose-us .why-us-content .info .benefits-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.why-choose-us .why-us-content .info .benefits-list .benefit {
  z-index: 1;
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 20px;
  grid-template-areas: "checkmark title" "checkmark text";
}
.why-choose-us .why-us-content .info .benefits-list .benefit .checkmark {
  grid-area: checkmark;
}
.why-choose-us .why-us-content .info .benefits-list .benefit .title {
  grid-area: title;
}
.why-choose-us .why-us-content .info .benefits-list .benefit .text {
  grid-area: text;
}
.why-choose-us .why-us-content .info .benefits-list .benefit .title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
.why-choose-us .why-us-content .info .benefits-list .benefit .text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.why-choose-us .why-us-content .info .benefits-list .benefit .checkmark-area {
  background: #4C7378;
  border-radius: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-us .why-us-content .info .benefits-list .benefit:not(:last-child)::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 30px;
  top: 0;
  height: calc(100% + 40px);
  width: 4px;
  background: #4C7378;
}
.why-choose-us .why-us-content .video iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.steps .steps-flex {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
}
.steps .steps-flex .step-item {
  flex: 1;
  padding: 24px 10px 24px 24px;
  background: #032828;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas: "h3 h3" "svg p";
}
.steps .steps-flex .step-item h3 {
  grid-area: h3;
}
.steps .steps-flex .step-item svg {
  grid-area: svg;
}
.steps .steps-flex .step-item p {
  grid-area: p;
}
.steps .steps-flex .step-item.first {
  background: #4C7378;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px;
}
.steps .steps-flex .step-item.first h3 {
  text-align: left;
}
.steps .steps-flex .step-item:not(:last-child) {
  position: relative;
}
.steps .steps-flex .step-item:not(:last-child)::after {
  content: "";
  height: 60px;
  width: 20px;
  position: absolute;
  right: -20px;
  z-index: 10;
  top: 0;
  bottom: 0;
  margin: auto;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background: #4C7378;
}
.steps .steps-flex .step-item:nth-child(2) {
  background: #283B3E;
}
.steps .steps-flex .step-item:nth-child(2)::after {
  background: #283B3E;
}
.steps .steps-flex .step-item:nth-child(3) {
  background: #213032;
}
.steps .steps-flex .step-item:nth-child(3)::after {
  background: #213032;
}
.steps .steps-flex .step-item h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.steps .steps-flex .step-item p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.partners-content .partner-card {
  aspect-ratio: 16/9;
  border-radius: 10px;
  background: gray;
}

.dark-block * {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: auto;
  padding: 0 20px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 0 24px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-flex;
  padding: 6px 12px;
  border-radius: 12px;
  color: #ffffff;
}
.btn-transparent {
  border: 1px solid #ffffff;
  background: transparent;
}
.btn-matte {
  background: transparent;
  position: relative;
  overflow: hidden;
}
.btn-matte::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff;
  filter: blur(2px) saturate(120%);
  transform: scale(1.1);
  z-index: 0;
  pointer-events: none;
  opacity: 0.5;
}

.title-block {
  position: relative;
  width: fit-content;
}
.title-block h2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  margin: auto;
  height: 16px;
  width: 30px;
  background: #032828;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.title-block::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 7px;
  width: 9999px;
  background: #032828;
}

/*# sourceMappingURL=style.css.map */
